CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
.DS_Store
Code/.vscode/configurationCache.log
Code/.vscode/dryrun.log
Code/.vscode/settings.json
Code/.vscode/targets.log
Code/.vscode/tasks.json
Code/cane
